@charset "UTF-8";
@import 'reset.css';
.container {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.plug {
  overflow-y: clip;
}

.burger-menu-background {
  z-index: 3;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 1000vh;
  background: rgba(41, 41, 41, 0.6);
}

.burger-menu-background_active {
  display: block;
}

.header {
  height: 120px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .burger {
  display: none;
  width: 30px;
  height: 22px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.header .container .burger .burger-line {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #f1cdb3;
}
.header .container .burger-menu {
  display: none;
}
.header .container .header-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header .container .header-logo .header-logo__main-title {
  font-family: "Georgia";
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 10px;
}
.header .container .header-logo .header-logo__under-title {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #292929;
}
.header .container .header-menu .header-menu__wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.header .container .header-menu .header-menu__wrapper .header-menu__item:last-child {
  margin-right: 0;
}
.header .container .header-menu .header-menu__wrapper .header-menu__item a {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}
.header .container .header-menu .header-menu__wrapper .header-menu__item a:hover {
  transition: 0.5s;
  color: #292929;
}
.header .container .header-menu .header-menu__wrapper .header-menu__item_active {
  border-bottom: 3px #f1cdb3 solid;
}
.header .container .header-menu .header-menu__wrapper .header-menu__item_active:hover {
  transition: 0.5s;
  border-bottom: 3px #545454 solid;
}
.header .container .header-menu .header-menu__wrapper .header-menu__item_active a {
  color: #292929;
}
.header .container .header-menu .header-menu__wrapper .header-menu__item_active a:hover {
  transition: 0.5s;
  color: #545454;
}
.header .container .header-menu .header-menu__wrapper .header-menu__item_active a:active {
  transition: 0.5s;
  color: #292929;
}

.our-pets {
  padding: 200px 0 100px 0;
  background: #f6f6f6;
}
.our-pets .container .our-pets__title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.our-pets .container .our-pets__cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 60px;
}
.our-pets .container .our-pets__cards-wrapper .pet-card {
  width: 270px;
  height: 435px;
  background: #fafafa;
  border-radius: 9px 9px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
.our-pets .container .our-pets__cards-wrapper .pet-card .pet-image {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
}
.our-pets .container .our-pets__cards-wrapper .pet-card .pet-name {
  display: inline-block;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}
.our-pets .container .our-pets__cards-wrapper .pet-card .card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 183px;
  height: 48px;
  font-family: "Georgia";
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 30px;
}
.our-pets .container .our-pets__cards-wrapper .pet-card .card-button:active {
  border: 2px solid #f1cdb3;
  transition: 0.5s;
  background: #f1cdb3;
}
.our-pets .container .our-pets__buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 0 auto;
}
.our-pets .container .our-pets__buttons-wrapper .our-pets__button {
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}
.our-pets .container .our-pets__buttons-wrapper .our-pets__button:active {
  transition: 0.5s;
  background: #f1cdb3;
}
.our-pets .container .our-pets__buttons-wrapper .our-pets__button_disable {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
}
.our-pets .container .our-pets__buttons-wrapper .our-pets__button_disable:hover {
  cursor: auto;
  background: #f6f6f6;
}
.our-pets .container .our-pets__buttons-wrapper .our-pets__button-active {
  background: #f1cdb3;
}
.our-pets .container .our-pets__buttons-wrapper .our-pets__button-active:hover {
  transition: 0.5s;
  background: #e8c1a5;
}
.our-pets .container .our-pets__buttons-wrapper .our-pets__button-active:active {
  transition: 0.5s;
  background: #f1cdb3;
}

.footer {
  padding-top: 40px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 160px;
       column-gap: 160px;
}
.footer .container .footer-contact__wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
  -moz-column-gap: 160px;
       column-gap: 160px;
  margin-bottom: 40px;
}
.footer .container .footer-contact__wrapper .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}
.footer .container .footer-contact__wrapper .footer-contact:first-child .footer-contact__title {
  width: 279px;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__title {
  width: 278px;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #fff;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item {
  display: flex;
  align-items: center;
  height: 32px;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item:hover .footer-contact__icon-wrapper .footer-contact__icon {
  transition: 0.5s;
  fill: #e8c1a5;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item:hover .footer-contact__item__text {
  transition: 0.5s;
  color: #e8c1a5;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item:active .footer-contact__icon-wrapper .footer-contact__icon {
  transition: 0.5s;
  fill: #f1cdb3;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item:active .footer-contact__item__text {
  transition: 0.5s;
  color: #f1cdb3;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item .footer-contact__icon-wrapper {
  margin-right: 20px;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item .footer-contact__icon-wrapper .footer-contact__icon {
  fill: #f1cdb3;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item .footer-contact__icon-wrapper .footer-icon-mail {
  width: 40px;
  height: 26px;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item .footer-contact__icon-wrapper .footer-icon-phone {
  width: 40px;
  height: 32px;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item .footer-contact__icon-wrapper .footer-icon-pin {
  width: 22px;
  height: 32px;
}
.footer .container .footer-contact__wrapper .footer-contact .footer-contact__item .footer-contact__item__text {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.footer .container .footer-image {
  line-height: 0;
}

.popup-active {
  display: block !important;
}

.popup-layer {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  display: none;
}
.popup-layer .popup {
  display: flex;
  background: #fafafa;
  border-radius: 9px;
  width: 900px;
  height: auto;
  position: fixed;
  z-index: 3;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translateY(-50%, -50%);
}
.popup-layer .popup .popup__image-wrapper {
  width: 500px;
  z-index: 1;
}
.popup-layer .popup .popup__image-wrapper .popup__image {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}
.popup-layer .popup .popup__content-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 400px;
  z-index: 1;
  padding: 50px 20px 0 30px;
  font-family: "Georgia";
  color: #000000;
  letter-spacing: 0.06em;
}
.popup-layer .popup .popup__content-wrapper .popup__close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  box-sizing: border-box;
  transform: translate(42px, -52px);
}
.popup-layer .popup .popup__content-wrapper .popup__close-button:hover {
  cursor: pointer;
  transition: 0.5s;
  background: #e8c1a5;
  border: 2px solid #e8c1a5;
}
.popup-layer .popup .popup__content-wrapper .popup__close-button:active {
  transition: 0.5s;
  background: #f1cdb3;
  border: 2px solid #f1cdb3;
}
.popup-layer .popup .popup__content-wrapper .popup__title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 10px;
  letter-spacing: 0.06em;
}
.popup-layer .popup .popup__content-wrapper .popup__type {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 40px;
  letter-spacing: 0.06em;
}
.popup-layer .popup .popup__content-wrapper .popup__description {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.popup-layer .popup .popup__content-wrapper .popup-about__wrapper .popup-about__item {
  margin-bottom: 11px;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}
.popup-layer .popup .popup__content-wrapper .popup-about__wrapper .popup-about__item::before {
  font-family: "Montserrat", sans-serif;
  color: #f1cdb3;
  content: "•";
  padding-right: 5px;
}
.popup-layer .popup .popup__content-wrapper .popup-about__wrapper .popup-about__item:last-child {
  margin-bottom: 0;
}
.popup-layer .popup .popup__content-wrapper .popup-about__wrapper .popup-about__item .popup-about__item-title {
  font-weight: bold;
}

.pagination-animation {
  -webkit-animation-name: pogination-list;
          animation-name: pogination-list;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes pogination-list {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pogination-list {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes movie-burger {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes movie-burger {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@-webkit-keyframes movie-burger-close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@keyframes movie-burger-close {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@media screen and (max-width: 1279px) {
  .container {
    padding: 0 30px;
    width: auto;
    max-width: 1200px;
  }
  .header {
    align-items: center;
  }
  .header .container {
    width: 100%;
  }
  .our-pets {
    padding: 200px 0 76px 0;
  }
  .our-pets .container .our-pets__title {
    margin-bottom: 30px;
  }
  .our-pets .container .our-pets__cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    -moz-column-gap: 40px;
         column-gap: 40px;
    margin: 0 94px;
    margin-bottom: 40px;
    justify-content: center;
    justify-items: center;
  }
  .footer {
    padding-top: 30px;
  }
  .footer .container {
    flex-direction: column;
    padding: 0 64px;
    align-items: center;
  }
  .footer .container .footer-contact__wrapper {
    padding-top: 0;
    margin-bottom: 65px;
    -moz-column-gap: 61px;
         column-gap: 61px;
  }
  .popup-layer .popup {
    width: 630px;
    height: auto;
  }
  .popup-layer .popup .popup__image-wrapper {
    width: 350px;
  }
  .popup-layer .popup .popup__content-wrapper {
    width: 280px;
    height: 350px;
    box-sizing: border-box;
    padding: 10px 9px 0 10px;
  }
  .popup-layer .popup .popup__content-wrapper .popup__type {
    margin-bottom: 20px;
  }
  .popup-layer .popup .popup__content-wrapper .popup__description {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  .popup-layer .popup .popup__content-wrapper .popup-about__wrapper .popup-about__item {
    margin-bottom: 6px;
  }
  .popup-layer .popup .popup__content-wrapper .popup-about__wrapper .popup-about__item:last-child {
    margin-bottom: 0;
  }
  .popup-layer .popup .popup__content-wrapper .popup__close-button {
    transform: translate(28px, -52px);
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
  .header .container .burger {
    transition: 0.5s;
    z-index: 6;
    display: flex;
    margin-right: 43px;
  }
  .header .container .burger:hover {
    cursor: pointer;
    transition: 0.5s;
  }
  .header .container .burger:hover .burger-line {
    background: #e8c1a5;
  }
  .header .container .burger_active {
    transform: rotate(90deg);
  }
  .header .container .burger-menu {
    -webkit-animation: movie-burger-close 0.5s ease-in;
            animation: movie-burger-close 0.5s ease-in;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 320px;
    right: -100%;
    z-index: 5;
    background: #292929;
    height: 100%;
    color: #fff;
    top: 0;
    gap: 158px;
  }
  .header .container .burger-menu .header-logo {
    align-items: flex-start;
    margin-left: 10px;
    padding-top: 30px;
    justify-content: center;
    z-index: 1;
  }
  .header .container .burger-menu .header-logo .header-logo__main-title {
    font-family: "Georgia";
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    margin-bottom: 10px;
  }
  .header .container .burger-menu .header-logo .header-logo__under-title {
    font-family: "Arial";
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #fff;
  }
  .header .container .burger-menu .header-menu__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    gap: 40px;
  }
  .header .container .burger-menu .header-menu__wrapper .header-menu__item:last-child {
    margin-right: 0;
  }
  .header .container .burger-menu .header-menu__wrapper .header-menu__item a {
    font-family: "Arial";
    font-size: 32px;
    line-height: 51px;
    color: #cdcdcd;
  }
  .header .container .burger-menu .header-menu__wrapper .header-menu__item a:hover {
    transition: 0.5s;
    color: #fefefe;
  }
  .header .container .burger-menu .header-menu__wrapper .header-menu__item_active {
    border-bottom: 3px #f1cdb3 solid;
  }
  .header .container .burger-menu .header-menu__wrapper .header-menu__item_active:hover {
    transition: 0.5s;
    border-bottom: 3px #fefefe solid;
  }
  .header .container .burger-menu .header-menu__wrapper .header-menu__item_active a {
    color: #fafafa;
  }
  .header .container .burger-menu .header-menu__wrapper .header-menu__item_active a:hover {
    transition: 0.5s;
    color: #fefefe;
  }
  .header .container .burger-menu_active {
    -webkit-animation: movie-burger 0.5s ease-in-out;
            animation: movie-burger 0.5s ease-in-out;
    right: 0;
  }
  .header .container .header-menu {
    display: none;
  }
  .our-pets {
    padding: 162px 0 42px 0;
  }
  .our-pets .container .our-pets__title {
    display: block;
    width: 300px;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 42px;
  }
  .our-pets .container .our-pets__cards-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 42px;
  }
  .our-pets .container .our-pets__buttons-wrapper {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .footer .container {
    padding: 0 10px;
  }
  .footer .container .footer-contact__wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .footer .container .footer-contact__wrapper .footer-contact {
    margin-bottom: 40px;
    align-items: center;
  }
  .footer .container .footer-contact__wrapper .footer-contact .footer-contact__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    width: auto;
  }
  .footer .container .footer-contact__wrapper .footer-contact .footer-contact__item {
    height: auto;
  }
  .footer .container .footer-contact__wrapper .footer-contact:last-child {
    align-items: flex-start;
  }
  .footer .container .footer-contact__wrapper .footer-contact:last-child .footer-contact__title {
    margin: 0 auto;
    align-items: center;
    width: 270px;
  }
  .footer .container .footer__image-wrapper {
    display: flex;
  }
  .footer .container .footer__image-wrapper .footer__image {
    width: 260px;
    height: 269px;
  }
  .popup-layer .popup {
    width: 240px;
    height: auto;
  }
  .popup-layer .popup .popup__image-wrapper {
    display: none;
  }
  .popup-layer .popup .popup__content-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .popup-layer .popup .popup__content-wrapper .popup__title {
    text-align: center;
  }
  .popup-layer .popup .popup__content-wrapper .popup__type {
    text-align: center;
  }
  .popup-layer .popup .popup__content-wrapper .popup__description {
    text-align: justify;
    margin-bottom: 24px;
  }
}
@media (hover: hover) {
  .our-pets__button:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #e8c1a5;
  }
  .card-button:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #e8c1a5;
    border: 2px solid #e8c1a5;
  }
}/*# sourceMappingURL=style.css.map */