@import 'reset.css';

$hoverColor:#fddcc4;
$activeColor:#f1cdb3;

.container{
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

.plug{
    overflow-y: clip;
}

.burger-menu-background{
    z-index: 2;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
}

.burger-menu-background_active{
    display: block;
}

.start-screen{
    background:radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
    z-index: 1;
    background-size: cover;
    
    .header{
        height: 120px;
        margin-bottom: 60px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .burger{
                display: none;
                width: 30px;
                height: 22px;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;

                .burger-line{
                    display: inline-block;
                    width: 30px;
                    height: 2px;
                    background-color: #f1cdb3;
                }

            }

            .burger-menu{
                display: none;
            }

            .header-logo{
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .header-logo__main-title{
                    font-family: 'Georgia';
                    font-size: 32px;
                    line-height: 35px;
                    letter-spacing: 0.06em;
                    color: #f1cdb3;
                    margin-bottom: 10px;
                }

                .header-logo__under-title{
                    font-family: 'Arial';
                    font-size: 13px;
                    line-height: 15px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.1em;
                    color: #fff;
                }

            }

            .header-menu{
                width: 443px;
                white-space: nowrap;

                .header-menu__wrapper{
                    display: flex;
                    justify-content: space-between;
                    column-gap: 35px;

                    .header-menu__item{

                        &:last-child{
                            margin-right: 0;
                        }

                        a{
                            font-family: 'Arial';
                            font-size: 15px;
                            line-height: 24px;
                            color: #cdcdcd;

                            &:hover{
                                transition: 0.5s;
                                color: #fefefe;
                            }

                        }

                    }

                    .header-menu__item_active{
                        border-bottom: 3px #f1cdb3 solid;

                        &:hover{
                            transition: 0.5s;
                            border-bottom: 3px #fefefe solid;
                        }

                        a{
                            color: #fafafa;

                            &:hover{
                                transition: 0.5s;
                                color: #fefefe;
                            }

                        }

                    }

                }

            }

        }

    }

    .not-only{

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .not-only__content{
                width: 460px;
                margin-right: 42px;

                .not-only__title{
                    width: 310px;
                    margin-bottom: 42px;
                    font-family: 'Georgia';
                    font-size: 44px;
                    line-height: 57px;
                    display: flex;
                    align-items: center;
                    color: #fff;
                }

                .not-only__text{
                    width: 460px;
                    margin-bottom: 42px;
                    font-family: 'Arial';
                    font-size: 15px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    color: #cdcdcd;
                }

                .not-only__button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 207px;
                    height: 52px;
                    background: #f1cdb3;
                    border-radius: 100px;
                    border: 0;
                    font-family: 'Georgia';
                    font-size: 17px;
                    line-height: 22px;
                    color: #292929;
                    letter-spacing: 0.06em;
                    margin-bottom: 80px;

                    &:hover{
                        cursor: pointer;
                        transition: 0.5s;
                        background: $hoverColor;
                    }

                    &:active{
                        transition: 0.5s;
                        background: $activeColor;
                    }

                }

            }

            .not-only__image-wrapper{
                line-height: 0;
            }

        }

    }

}

.about{
    padding: 80px 0 100px 0;

    .container{
        width: 850px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .about-image__wrapper{
            line-height: 0;
        }

        .about-content{
            padding: 4px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .about-content__title{
                width: 370px;
                font-family: 'Georgia';
                font-size: 35px;
                line-height: 45px;
                letter-spacing: 0.06em;
                color: #545454;
                margin-bottom: 25px;
                display: flex;
                align-items: center;
            }

            .about-content__text{
                width: 430px;
                font-family: 'Arial';       
                font-size: 15px;
                line-height: 24px;
                color: #4c4c4c;
                margin-bottom: 25px;

                &:last-child{
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                }

            }

        }

    }

}

.pets{
    background: #f6f6f6;
    padding: 80px 0 100px 0;

    .container{

        .pets-title{
            font-family: 'Georgia';
            font-size: 35px;
            line-height: 45px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
            width: 400px;
            margin: 0 auto;
            margin-bottom: 60px;
        }

        .pets-slider__wrapper{
            display: flex;
            align-items: center;
            margin-bottom: 60px; 

            .pets-slider__arrow{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                border: 2px solid #f1cdb3;
                border-radius: 100px;

                &:hover{
                    cursor: pointer;
                    transition: 0.5s;
                    background: $hoverColor;
                    border: 2px solid $hoverColor;
                }

                &:active{
                    transition: 0.5s;
                    background: $activeColor;
                    border: 2px solid $activeColor;
                }

            }

            .pets-slider__content{
                display: flex;

                .pets-corusel{
                    width: 990px;
                    overflow: hidden;
                    margin: 0 53px;

                    .pets-corusel__slide{
                        display: flex;
                        position: relative;
                        left: -100%;

                        .pets-corusel__item{
                            display: flex;
                            gap: 90px;

                            .pet-card{
                                width: 270px;
                                height: 435px;
                                background: #fafafa;
                                border-radius: 9px 9px 0 0;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: flex-start;
                                box-sizing: border-box;
                
                                .pet-image{
                                    width: 270px;
                                    height: 270px;
                                    margin-bottom: 30px;
                                }
                
                                .pet-name{
                                    display: inline-block;
                                    font-family: 'Georgia';
                                    font-size: 20px;
                                    line-height: 23px;
                                    display: flex;
                                    align-items: center;
                                    text-align: center;
                                    letter-spacing: 0.06em;
                                    color: #545454;
                                    margin-bottom: 30px;
                                }
                
                                .card-button{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 183px;
                                    height: 48px;
                                    font-family: 'Georgia';
                                    font-size: 17px;
                                    line-height: 22px;
                                    letter-spacing: 0.06em;
                                    color: #292929;
                                    border: 2px solid #f1cdb3;
                                    border-radius: 100px;
                                    margin-bottom: 30px;
                
                                    &:hover{
                                        cursor: pointer;
                                        transition: 0.5s;
                                        background: $hoverColor;
                                        border: 2px solid $hoverColor;
                                    }
                
                                    &:active{
                                        border: 2px solid $activeColor;
                                        transition: 0.5s;
                                        background: $activeColor;
                                    }
                
                                }
                
                            }
                        }
    
                    }

                }
            
            }

        }

        .pets-button{
            width: 261px;
            height: 52px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #f1cdb3;
            border-radius: 100px;
            font-family: 'Georgia';
            font-size: 17px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: #292929;

            &:hover{
                transition: 0.5s;
                cursor: pointer;
                background: $hoverColor;
            }

            &:active{
                transition: 0.5s;
                background: $activeColor;
            }
            
        }

    }

}

.help{
    padding: 80px 0 100px 0;

    .container{

        .help-title{
            width: 310px;
            font-family: 'Georgia';
            font-size: 35px;
            line-height: 45px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 0 auto;
            margin-bottom: 60px;
        }

        .help-list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 55px;
            column-gap: 120px;

            .help__item{
                justify-self: center;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                height: 113px;

                .help__item__title{
                    font-family: 'Georgia';
                    white-space: nowrap;
                    font-size: 20px;
                    line-height: 23px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.06em;
                    color: #545454;
                }

            }

        }

    }

}

.donation{
    padding: 80px 0 100px 0;
    background: #f6f6f6;

    .container{
        width: 915px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .donation-image__wrapper{
            margin-bottom: 10px;
        }

        .donation-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .donation__link-icon-wrapper{
                width: 30px;
                height: 23px;
                margin-right: 15px;

                .donation__link-icon{
                    width: 30px;
                    height: 23px;
                    fill: #292929;
                }
                
            }

            .donation__title{
                width: 300px;
                font-family: 'Georgia';
                font-size: 35px;
                line-height: 45px;
                display: flex;
                align-items: center;
                letter-spacing: 0.06em;
                color: #545454;
                margin-bottom: 20px;
            }

            .donation__description{
                font-family: 'Georgia';
                margin-bottom: 20px;
                font-size: 15px;
                line-height: 17px;
                display: flex;
                align-items: center;
                letter-spacing: 0.06em;
                color: #545454;
            }

            .donation__link-wrapper{
                display: flex;
                align-items: center;
                border-radius: 9px;
                padding: 10px 15px;
                background: #f1cdb3;
                margin-bottom: 20px;

                &:hover{
                    transition: 0.5s;
                    background: $hoverColor;

                    .donation__link-icon-wrapper{

                        .donation__link-icon{
                            transition: 0.5s;
                            fill: #fefefe;
                        }

                    }

                }

                &:active{
                    transition: 0.5s;
                    background: $activeColor;
                }

                .donation__link{
                    font-family: 'Georgia';
                    font-size: 20px;
                    line-height: 23px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.06em;
                    color: #545454;
                    display: inline-block;
                }

            }

            .donation__text{
                width: 380px;
                font-family: 'Arial';
                font-style: italic;
                font-size: 12px;
                line-height: 18px;
                display: flex;
                align-items: center;
                color: #b2b2b2;
            }

        }

    }

}

.footer{
    padding-top: 40px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%) , #211f20;

    .container{
        display: flex;
        justify-content: space-between;
        column-gap: 160px;

        .footer-contact__wrapper{
            display: flex;
            align-items: flex-start;
            padding-top: 16px;
            column-gap: 160px;
            margin-bottom: 40px;

            .footer-contact{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 40px;

                &:first-child{
    
                    .footer-contact__title{
                        width: 279px;
                    }
    
                }
    
                .footer-contact__title{
                    width: 278px;
                    font-family: 'Georgia';
                    font-size: 35px;
                    line-height: 45px;
                    letter-spacing: 0.06em;
                    color: #fff;
                }
    
                .footer-contact__item{
                    display: flex;
                    align-items: center;
                    height: 32px;
    
                    &:hover{
    
                        .footer-contact__icon-wrapper{
    
                            .footer-contact__icon{
                                transition: 0.5s;
                                fill: $hoverColor;
                            }
    
                        }
    
                        .footer-contact__item__text{
                            transition: 0.5s;
                            color: $hoverColor;
                        }
    
                    }
    
                    &:active{
    
                        .footer-contact__icon-wrapper{
    
                            .footer-contact__icon{
                                transition: 0.5s;
                                fill: $activeColor;
                            }
    
                        }
    
                        .footer-contact__item__text{
                            transition: 0.5s;
                            color: $activeColor;
                        }
    
                    }
    
                    .footer-contact__icon-wrapper{
                        margin-right: 20px;
    
                        .footer-contact__icon{
                            fill: #f1cdb3;
                        }
    
                        .footer-icon-mail{
                            width: 40px;
                            height: 26px;
                        }
    
                        .footer-icon-phone{
                            width: 40px;
                            height: 32px;
                        }
    
                        .footer-icon-pin{
                            width: 22px;
                            height: 32px;
                        }
    
                    }
    
                    .footer-contact__item__text{
                        font-family: 'Georgia';
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: 0.06em;
                        color: #f1cdb3;
                    }
    
                }
    
            }

        }


        .footer-image{
            line-height: 0;
        }

    }

}

.popup-active{
    display: block !important;
}

.popup-layer{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    display: none;

    .popup{
        display: flex;
        background: #fafafa;
        border-radius: 9px;
        width: 900px;
        height: auto;
        position: fixed;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
        .popup__image-wrapper{
            width: 500px;
            z-index: 1;

            .popup__image{
                width: 100%;
                height: 100%;
                border-radius: 9px;
            }

        }
    
        .popup__content-wrapper{
            position: relative;
            box-sizing: border-box;
            width: 400px;
            z-index: 1;
            padding: 50px 20px 0 30px;
            font-family: 'Georgia';
            color: #000000;
            letter-spacing: 0.06em;

            
            .popup__close-button{
                position: absolute;
                top: 0;
                right: 0;
                width: 52px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #f1cdb3;
                border-radius: 100px;
                box-sizing: border-box;
                transform: translate(42px, -52px);

                &:hover{
                    cursor: pointer;
                    transition: 0.5s;
                    background: $hoverColor;
                    border: 2px solid $hoverColor;
                }

                &:active{
                    transition: 0.5s;
                    background: $activeColor;
                    border: 2px solid $activeColor;
                }

            }

            .popup__title{
                font-family: 'Georgia';
                font-size: 35px;
                line-height: 45px;
                margin-bottom: 10px;
                letter-spacing: 0.06em;
            }

            .popup__type{
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 40px;
                letter-spacing: 0.06em;
            }

            .popup__description{
                font-size: 15px;
                line-height: 17px;
                letter-spacing: 0.06em;
                margin-bottom: 40px;
            }

            .popup-about__wrapper{
                
                .popup-about__item{
                    margin-bottom: 11px;
                    font-size: 15px;
                    line-height: 17px;
                    letter-spacing: 0.06em;

                    &::before{
                        font-family: 'Montserrat', sans-serif;
                        color: #f1cdb3;
                        content: "•";
                        padding-right: 5px;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }

                    .popup-about__item-title{
                        font-weight: bold;
                    }

                }

            }

        }
    
    }

}


@keyframes movie-right{
    from {left : -100%;}
    to {left: 0}
}

.transition-right{
    animation-name: movie-right;
    animation-duration: 0.5s;
}

@keyframes movie-left{
    from {left : -100%;}
    to {left: -200%}
}

.transition-left{
    animation-name: movie-left;
    animation-duration: 0.5s;
}

@keyframes movie-burger{
    from {right: -100%;}
    to{right: 0;}
}

@keyframes movie-burger-close{
    from{right: 0;}
    to{right: -100%;}
}

@media screen and (max-width:1279px){

    .container{
        padding: 0 30px;
        width: auto;
        max-width: 1200px;
    }

    .start-screen{

        .header{
            align-items: center;
            margin-bottom: 30px;

            .container{
                width: 100%;
            }

        }

        .not-only{

            .container{
                display: block;

                .not-only__content{
                    margin-right: 0;
                    margin: 0 auto;
                    margin-bottom: 100px;
    
                    .not-only__button{
                        margin: 0 auto;
                    }
                    
                }

                .not-only__image-wrapper{
                    margin-left: auto;
                    width: 569px;
                    height: 593px;

                    .not-only__image{
                        width: 569px;
                        height: 593px;
                    }

                }

            }

        }

    } 

    .about{

        .container{
            flex-direction: column-reverse;
            width: auto;

            .about-content{
                margin-bottom: 80px;
                padding: 0;
            }

            .about-image__wrapper{

                .about-image{
                    width: 300px;
                    height: 408px;
                }

            }

        }

    }

    .pets{

        .container{

            .pets-slider__wrapper{

                justify-content: center;
                .pets-slider__content{
                    width: 604px;

                    .pets-corusel{
                        width: 604px;
                        margin: 0 12px;

                        .pets-corusel__slide{
                            width: 604px;

                            .pets-corusel__item{
                                width: 604px;
                                gap: 40px;
                            }

                            .pets-corusel__active{
                                width: 100% !important;
                            }

                        }

                    }

                }

            }

        }

    }

    .help{

        .container{

            .help-list{
                display: grid;
                grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
                grid-row-gap: 55px;
                grid-column-gap: 60px;
                padding: 0 39px;
            }

        }

    }

    .donation{

        .container{
            flex-direction: column-reverse;
            width: 505px;

            .donation-image__wrapper{
                margin-bottom: 0;
            }

            .donation-content{
                margin-bottom: 60px;
            }

        }

    }

    .footer{
        padding-top: 30px;

        .container{
            flex-direction: column;
            padding: 0 64px;
            align-items: center;

            .footer-contact__wrapper{
                padding-top: 0;
                margin-bottom: 65px;
                column-gap: 61px;
            }
        }

    }

    .popup-layer{

        .popup{
            width: 630px;
            height: auto;

            .popup__image-wrapper{
                width: 350px;
            }

            .popup__content-wrapper{
                width: 280px;
                height: 350px;
                box-sizing: border-box;
                padding: 10px 9px 0 10px;

                .popup__type{
                    margin-bottom: 20px;
                }

                .popup__description{
                    font-size: 13px;
                    line-height: 14px;
                    margin-bottom: 20px;
                }

                .popup-about__wrapper{

                    .popup-about__item{
                        margin-bottom: 6px;
    
                        &:last-child{
                            margin-bottom: 0;
                        }
    
                    }

                }

                .popup__close-button{
                    transform: translate(28px, -52px);
                }

            }

        }

    }

}

@media screen and (max-width: 767px) {

    .container{
        padding: 0 10px;
    }

    .start-screen{

        .header{
            position: relative;

            .container{

                .burger{
                    transition: 0.5s;
                    z-index: 3;
                    display: flex;
                    margin-right: 43px;

                    &:hover{
                        cursor: pointer;
                        transition: 0.5s;

                        .burger-line{
                            background: $hoverColor;
                        }

                    }

                }
                
                .burger_active{
                    transform: rotate(90deg);
                }

                .burger-menu{
                    animation: movie-burger-close 0.5s ease-in;
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    width: 320px;
                    right: -100%;
                    z-index: 2;
                    background: #292929;
                    height: 100%;
                    color: #fff;
                    top: 0;      
                    gap: 158px;

                    .header-logo{
                        align-items: flex-start;
                        margin-left: 10px;
                        padding-top: 30px;
                        justify-content: center;
                        z-index: 1;
                    }

                    .header-menu__wrapper{
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                        text-align: center;
                        gap: 40px;

                        .header-menu__item{

                            &:last-child{
                                margin-right: 0;
                            }
    
                            a{
                                font-family: 'Arial';
                                font-size: 32px;
                                line-height: 51px;
                                color: #cdcdcd;
    
                                &:hover{
                                    transition: 0.5s;
                                    color: #fefefe;
                                }
    
                            }
    
                        }
    
                        .header-menu__item_active{
                            border-bottom: 3px #f1cdb3 solid;
    
                            &:hover{
                                transition: 0.5s;
                                border-bottom: 3px #fefefe solid;
                            }
    
                            a{
                                color: #fafafa;
    
                                &:hover{
                                    transition: 0.5s;
                                    color: #fefefe;
                                }
    
                            }
    
                        }

                    }

                }

                .burger-menu_active{
                    animation: movie-burger 0.5s ease-in-out;
                    right: 0;
                }

                .header-menu{
                    display: none;
                }
            }
        }

        .not-only{

            .container{

                .not-only__content{
                    width: 300px;
                    margin-bottom: 105px;

                    .not-only__title{
                        box-sizing: border-box;
                        padding: 0 35px;
                        width: 300px;
                        text-align: center;
                        font-size: 25px;
                        line-height: 32px;
                        align-items: center;
                        letter-spacing: 0.06em;
                    }

                    .not-only__text{
                        width: 300px;
                        text-align: center;
                        font-size: 15px;
                        line-height: 24px;
                    }

                }

                .not-only__image-wrapper{
                    width: 260px;
                    height: 271.7px;

                    .not-only__image{
                        width: 260px;
                        height: 271.7px;
                    }
                    
                }

            }

        }

    }

    .about{
        padding: 42px 0 42.4px 0;

        .container{

            .about-content{
                width: 300px;
                margin-bottom: 42px;
                align-items: center;

                .about-content__title{
                    box-sizing: border-box;
                    padding: 0 35px;
                    text-align: center;
                    font-size: 25px;
                    line-height: 32px;
                    width: 300px;
                }

                .about-content__text{
                    width: 270px;
                    text-align: justify;
                    margin-bottom: 22px;

                    &:last-child{
                        margin-bottom: 0;
                    }

                }

            }

            .about-image__wrapper{

                .about-image{
                    width: 260px;
                    height: 353.6px;
                }
            }

        }

    }

    .pets{
        padding: 42px 0;

        .container{

            .pets-title{
                width: 300px;
                font-size: 25px;
                line-height: 32px;
                margin-bottom: 42px;
                display: block;
            }

            .pets-slider__wrapper{
                width: 270px;
                flex-wrap: wrap;
                margin: 0 auto;

                .pets-slider__arrow{
                    order: 2;

                    &:first-child{
                        margin-right: 80px;
                    }

                }

                .pets-slider__content{
                    width: 270px;
                    order: 1;
                    margin-bottom: 20px;

                    .pets-corusel{
                        width: 270px;
                        margin: 0;

                        .pets-corusel__slide{
                            width: 270px;

                            .pets-corusel__item{
                                gap: 0;
                                border: 0;
                                width: 270px;
                            }

                        }

                    }

                }

            }

            .pets-button{
                width: 260px;
                margin-top: 42px;
            }

        }

    }

    .help{
        padding: 42px 0;

        .container{
            padding: 0 15px;

            .help-title{
                width: 240px;
                height: 64px;
                font-size: 25px;
                line-height: 32px;
                margin-bottom: 42px;
            }

            .help-list{
                grid-template: auto / 1fr 1fr;
                grid-row-gap: 30px;
                grid-column-gap: 30px;
                padding: 0;

                .help__item{
                   width: 130px;
                   height: 87px;

                    .help__item__image{
                        max-width: 50px;
                        max-height: 50px;
                    }

                    .help__item__title{
                        font-size: 15px;
                        line-height: 17px;
                    }

                }

            }

        }

    }

    .donation{
        padding: 42px 0;

        .container{
            width: auto;
            padding: 0 20px;

            .donation-content{
                align-items: center;
                margin-bottom: 42px;

                .donation__title{
                    width: 300px;
                    padding: 0 40px;
                    box-sizing: border-box;
                    font-size: 25px;
                    line-height: 32px;
                    align-items: center;
                    text-align: center;
                }
                
                .donation__description{
                    letter-spacing: 0;
                    line-height: 24px;
                }

                .donation__link-wrapper{

                    .donation__link{
                        font-size: 15px;
                        line-height: 17px;
                    }

                }

                .donation__text{
                    width: 280px;
                    text-align: justify;
                }

            }

            .donation-image__wrapper{

                .donation__image{
                    width: 260px;
                }

            }

        }

    }

    .footer{

        .container{

            padding: 0 10px;

            .footer-contact__wrapper{
                flex-direction: column;
                align-items: center;
                margin-bottom: 0;

                .footer-contact{
                    margin-bottom: 40px;
                    align-items: center;

                    .footer-contact__title{
                        font-size: 25px;
                        line-height: 32px;
                        text-align: center;
                        width: auto;
                    }


                    .footer-contact__item{
                        height: auto;
                    }

                    &:last-child{
                        align-items: flex-start;

                        .footer-contact__title{
                            margin: 0 auto;
                            align-items: center;
                            width: 270px;
                        }

                    }

                }

            }

            .footer__image-wrapper{
                display: flex;

                .footer__image{
                    width: 260px;
                    height: 269px;
                }

            }

        }

    }

    .popup-layer{

        .popup{
            width: 240px;
            height: auto;

            .popup__image-wrapper{
                display: none;
            }

            .popup__content-wrapper{
                width: 100%;
                height: 100%;
                padding: 10px;

                .popup__title{
                    text-align: center;
                }

                .popup__type{
                    text-align: center;
                }

                .popup__description{
                    text-align: justify;
                    margin-bottom: 24px;
                }
            }

        }

    }

}